@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.main-header {
  background-color: $primary-bg-color;
  padding: 0 10px;
  box-shadow: 0px 7px 9px 0px $box-shadow-bottom;
  margin-bottom: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 200;
}