@import "./variables.scss";
@import "./mixins.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $primary-bg-color;
  color: $content-color;
  line-height: 1.5;

  .app-wrapper {

    .content {
      @include maxWidthContent($limited-width, $content-padding)
    }
  }

  border-color: $content-color;

  a {
    color: $primary-color;
    text-decoration: none;
    transition: 100ms;

    &:hover {
      margin-left: 1px; 
      color: $active-link-color !important;
      text-decoration-color: $active-link-color;
    }
  }
}

h1 {
  color: $primary-color;
  line-height: 1.2;
}

h3 {
  font-weight: 600;
}