@import "./variables.scss";

@mixin maxWidthContent($limited-width, $content-padding) {
  max-width: $limited-width;
  width: 100%;
  margin: 0 auto;
  padding: $content-padding;
}

@mixin neumorphism($neu-rounded) {
  box-shadow: 8px 8px 10px $box-shadow-bottom, -6px -6px 8px $box-shadow-top;
  border-radius: $neu-rounded;
}