$primary-bg-color: #e0e0e0;
$primary-color: #3392f5;
$box-shadow-bottom: #d3d3d3;
$box-shadow-top: #ededed;
$neu-rounded: 24px;
$content-color: #676767;

$limited-width: 1200px;
$content-padding: 0 10px;
 