@import "../../styles/variables.scss";

.products-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 18px 0;

  .product-item {
    display: grid;
    grid-template-rows: 350px 1fr;
    padding: 16px;
    box-shadow: 10px 10px 20px $box-shadow-bottom, -10px -10px 20px $box-shadow-top;
    border-radius: 24px;

    .img-block {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 16px;
      box-shadow: inset 10px 10px 16px $box-shadow-bottom, inset -10px -10px 16px $box-shadow-top;
      margin-bottom: 10px;
    }

    img {
      height: 100%;
      object-fit: contain;
      mix-blend-mode: multiply;
    }

    h3 {
      text-wrap: nowrap;
    }

    .description {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .price {
      margin-bottom: 10px;
    }

    button {
      span {
        transition: 160ms ease;
      }
    }

    button:hover {

      span {
        padding-right: 10px;

      }
    }
  }
}