@import "../../../../app//styles/variables.scss";
@import "../../../../app//styles/mixins.scss";


.header-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 50px auto;
  @include maxWidthContent($limited-width, $content-padding);

  .logo-block {
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: 600;
    color: $primary-color;


    .store-logo {
      height: 100%;
    }
  }

  .hr-line {
    grid-column: 1/3;
    justify-self: center;
    width: 0;
    border-color: white;
    transition: 0s;

    &.full-width {
      width: 100%;
      transition: 3s 400ms;

    }
  }
}