@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.product-item {
  display: grid;
  grid-template-rows: 350px 1fr;
  padding: 16px;
  @include neumorphism($neu-rounded);

  .img-block {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    box-shadow: inset 8px 8px 10px $box-shadow-bottom, inset -8px -8px 10px $box-shadow-top;
    margin-bottom: 10px;
    cursor: pointer;
  }

  img {
    height: 100%;
    object-fit: contain;
    mix-blend-mode: multiply;
  }

  h3 {
    text-wrap: nowrap;
  }

  .description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .price {
    margin-bottom: 10px;
  }

  button {
    span {
      transition: 160ms ease;
    }
  }

  button:hover {

    span {
      padding-right: 10px;

    }
  }
}

.go-to-product-page {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  transition: 200ms;
  cursor: pointer;
  margin-top: 24px;

  &:hover {
    font-weight: 600;
    color: $primary-color;
    gap: 10px;
  }
}