@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

@mixin animation($scale, $transition, $opacity, $z-index) {
  transform: $scale;
  transition: $transition;
  opacity: $opacity;
  z-index: $z-index;
}

.modal-ui-wrapper {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  @include animation(none, 0.2s 0.2s, 0, -1);

  .modal-content {
    max-height: 70vh;
    max-width: 1000px;
    margin: 10px;
    background-color: $primary-bg-color;
    padding: 12px;
    @include animation(scale(0), 0.4s 0s, 0, -1);
    border-radius: 28px;

    .modal-body {
      border-radius: 24px;
      @include neumorphism($neu-rounded);
      padding: 16px;
    }
  }

  &.modal-is-show {
    @include animation(none, 0.2s 0s, 1, 200);

    .modal-content {
      @include animation(scale(1), 0.2s 0.1s, 1, 200);
    }
  }
}